node_modules/**/*
!node_modules/react-native-dynamic-vector-icons/lib/components/Icon.tsx
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# macOS
.DS_Store
sendgrid.env
